<thead>
    <tr class="content-table-row"><%
        @list_fields.each_with_index do |field, index|
            additional_class_name = [@model.name, field.name].join(' ').parameterize.dasherize
            %><th class="content-table-cell content-table-cell__<%= additional_class_name %><%
                if index == 0
                    %> show-sdisplay<%
                end
                unless field.order_column.nil?
                    url_sort_params = { :sort => field.order_column, :direction => :asc }
                    sorting_direction = @sortable_service.sorting_direction(field)
                    if sorting_direction == :asc
                        url_sort_params[:direction] = :desc
                        %> sortable-up<%
                    elsif sorting_direction == :desc
                        %> sortable-down<%
                    end
                    url_params = request.query_parameters.symbolize_keys.merge(url_sort_params)
                    %> is-clickable sortable" data-link-url="<%= admin_list_uri(@model_info, url_params) %><%
                end
            %>">
                <span class="text"><%= field.label %></span>
            </th><%
        end
        additional_class_name = [@model.name, 'management'].join(' ').parameterize.dasherize
        %><th class="content-table-cell content-table-cell__<%= additional_class_name %>">
            <span class="text"><%= t('rademade_admin.management.title') %></span><%
            if @sortable_service.can_reset?
                url_params = request.query_parameters.symbolize_keys.except(:sort, :direction)
                %><span class="discard" data-link-url="<%= admin_list_uri(@model_info, url_params) %>">
                    <span class="tooltip-holder">
                        <span class="tooltip-text"><%= t('rademade_admin.reset_sort') %></span>
                    </span>
                </span><%
            end
        %></th>
    </tr>
</thead>
