<%
is_sortable = @is_sortable_list && @sortable_service.has_position?
%><tbody data-sortable="<%= is_sortable %>"><%
    @items.each do |item|
        %><tr id="item_<%= item.id %>" class="content-table-row<%
            if is_sortable
                %> is-draggable" data-position="<%= item.position %><%
            end
        %>" data-id="<%= item.id %>"><%
            @list_fields.each_with_index do |field, index|
                next unless can?(:access_field, item, field.name)
                is_first = index.zero?
                %><td class="content-table-cell<%
                    if is_first
                        %> show-sdisplay<%
                    end
                %>">
                    <%# is-highlight %>
                    <span class="text"><%= display_item_value(item, field)%></span><%
                    if is_first && is_sortable
                        %><i class="draggable-btn"></i><%
                    end
                %></td><%
            end
            %><td class="content-table-cell">
                <span class="content-actions-list"><%
                    concat render @template_service.edit_button, :item => item
                    concat render @template_service.hide_button, :item => item
                    concat render @template_service.preview_button, :item => item
                    concat render @template_service.destroy_button, :item => item
                %></span>
            </td>
        </tr><%
    end
%></tbody>
