<!DOCTYPE html>
<html>
    <head><%= render @template_service.layout_head %></head>
    <body>
        <div id="wrapper" class="wrapper">
            <div id="loader" class="loader-wrapper hide">
                <div class="lds-hourglass"></div>
            </div><%
            concat render @template_service.navigation_block
            %><div class="wrapper-data">
                <span id="menuToggler" class="nav-btn">
                    <i class="nav-btn-ico"></i>
                </span>
                <div class="content" data-content><%= yield %></div>
            </div>
        </div>
        <%= javascript_tag do %>
            I18n.defaultLocale = "<%= I18n.default_locale %>";
            I18n.locale = "<%= I18n.locale %>";
            I18n.fallbacks = true;
        <% end %>
    </body>
</html>
