<!DOCTYPE html>
<html>
    <head><%= render @template_service.layout_head %></head>
    <body>
        <div class="wrapper"><%
            concat render @template_service.menu_block
            %><div class="wrapper-data">
                <span class="nav-btn">
                    <i class="nav-btn-ico"></i>
                </span>
                <div class="content"><%= yield %></div>
            </div>
        </div>
        <%= javascript_tag do %>
            I18n.defaultLocale = "<%= I18n.default_locale %>";
            I18n.locale = "<%= I18n.locale %>";
            I18n.fallbacks = true;
        <% end %>
    </body>
</html>