<header>
    <div class="header">
        <div class="fix">
            <a class="header-logo fl-l" href="<%= url_for(:root) %>">
                <img src="<%= image_path 'rademade_admin/logos/logo.png' %>" alt="Rademade admin">
            </a>
            <div class="fl-r">
                <form class="header-search fl-l" role="search">
                    <div class="header-search-box">
                        <input type="text" class="header-search-input" placeholder="<%= t('rademade_admin.search') %>">
                    </div>
                    <button type="submit" class="header-search-btn"><%= t('rademade_admin.submit') %></button>
                </form>
                <div class="header-menu fl-l">
                    <div class="menu-item">
                        <span class="menu-link disabled"><%= @current_user %> <b class="caret"></b></span>
                    </div>
                    <div class="menu-item js-box">
                        <span class="menu-link js-link"><i class="glyphicon glyphicon-list"></i></span>
                        <div class="menu-droplist js-droplist">
                            <%# <div class="menu-droplist-header">Active links</div>
                            <a class="menu-droplist-link" href="#">Link</a>
                            <a class="menu-droplist-link" href="#">Link</a>
                            <div class="menu-droplist-header">Disable links</div>
                            <span class="menu-droplist-link disabled">Disable link</span>
                            <span class="menu-droplist-link disabled">Disable link</span> %>
                            <%= link_to t('rademade_admin.exit'), [:logout, :sessions], { :method => :delete, :class => 'menu-droplist-link last' } %>
                        </div>
                    </div>
                    <div class="menu-item">
                        <%= link_to t('rademade_admin.exit'), [:logout, :sessions], { :method => :delete, :class => 'menu-link last' } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>