<header class="navbar navbar-inverse">

    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
            <span class="sr-only"><%= t('rademade_admin.toggle_nav') %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="<%= url_for(:root) %>">
            <img src="<%= image_path 'rademade_admin/logos/logo.png' %>" alt="logo">
        </a>
    </div>

    <ul class="nav navbar-nav pull-right hidden-xs">
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                <span><%= @current_user %></span>
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li><%= link_to t('rademade_admin.exit'), [:logout, :sessions], {:method => :delete} %></li>
            </ul>

        </li>
    </ul>

</header>