<header>
<div class="header">
    <div class="fix">
        <a class="header-logo" href="<%= url_for(:root) %>">
          <img src="<%= image_path 'rademade_admin/logos/logo.png' %>" alt="logo">
        </a>

        <!--<div class="header-navigation">-->
        <!--<span class="sr-only"><%= t('rademade_admin.toggle_nav') %></span>-->
        <!--</div>-->

        <div class="right-menu">
            <div class="menu-item">
                <span class="menu-link last"><%= @current_user %> <b class="caret"></b></span>
                <div class="menu-droplist">
                    <span class="menu-droplist-item">1</span>
                    <span class="menu-droplist-item">1</span>
                    <span class="menu-droplist-item"><%= link_to t('rademade_admin.exit'), [:logout, :sessions], {:method => :delete} %></span>
                </div>
            </div>
        </div>
    </div>
</div>

</header>