<div id="sidebar-nav">
    <ul id="dashboard-menu"><%
        main_menu.each do |li|

            li[:uri] ||= admin_list_uri li[:model]

            current_li = admin_current_page? li[:uri], li[:model]
            has_sub_items = (li[:sub].is_a? Array)
            item_name = li[:name] || admin_list_name(li[:model], false)

            %><li class="<%='active' if current_li %>">

                <% if current_li %>
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                <% end %>

                <a href="<%=li[:uri]%>" class="<%='dropdown-toggle' if has_sub_items %>">
                    <i class="<%=li[:ico]%>"></i>
                    <span><%=item_name%></span>
                    <% if has_sub_items %>
                        <i class="fa fa-chevron-down"></i>
                    <% end %>
                </a>

                <% if has_sub_items %>
                    <ul class="submenu">
                        <li><a href="<%=admin_list_uri(li[:model])%>"><%=admin_list_name(li[:model])%></a></li>
                        <li><a href="<%=admin_new_uri(li[:model])%>"><%=admin_add_name(li[:model])%></a></li>
                        <% li[:sub].each do |sub_model| %>
                            <li><a href="<%=admin_list_uri(sub_model)%>"><%=admin_list_name(sub_model)%></a></li>
                        <% end %>
                    </ul>
                <% end %>

            </li>
        <% end %>
    </ul>
</div>

