<title><%= t('rademade_admin.project_title') %> Admin</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<%= favicon_link_tag('rademade_admin/fav1.ico') %>
<%= javascript_include_tag(:rademade_admin, 'data-turbolinks-track' => true) %>
<%= yield(:head) if content_for?(:head) %>
<%= stylesheet_link_tag(:rademade_admin, :media => 'all', 'data-turbolinks-track' => true) %>
<%= csrf_meta_tags %>
