<% content_for :content do %><%
    concat render @template_service.on_page_select_block
    if @sortable_service.can_reset?
        %><a href="<%= request.path %>"><%= t('rademade_admin.reset_sort') %></a><%
    end
    %><table class="table-box"><%
        concat render @template_service.table_head_block, {
            :list_fields => @list_fields
        }
        has_position = @sortable_service.has_position?
        %><tbody class="table-content" data-sortable="<%= has_position %>"><%
            @items.each do |item|
                %><tr id="item_<%= item.id %>" class="table-line" data-id="<%= item.id %>"<%
                    if has_position
                        %> data-position="<%= item.position %>"<%
                    end
                %>><%
                    @list_fields.each do |field|
                        %><td class="table-item"><%= display_item_value(item, field) %></td><%
                    end
                    %><td class="table-item">
                        <span class="table-actions"><%
                            concat render 'rademade_admin/_blocks/button/edit', {
                                :item => item
                            }
                            concat button_to t('rademade_admin.destroy'), admin_delete_uri(item), {
                                :method => :delete,
                                :form => { :class => 'delete-item-form' }
                            }
                        %></span>
                    </td>
                </tr><%
            end
        %></tbody>
    </table><%
    concat render @template_service.pagination_block
end %>