<% content_for :content do %>
    <table class="table table-hover">
        <thead>
            <tr><%
                index = 0
                @list_fields.each do |field|
                    index += 1
                    %><th class="col-md-3 sort-button" data-column="<%= field.name %>"><%
                        unless index == 1
                            %><span class="line"></span><%
                        end
                        %><span><%= field.label + @sortable_service.sorting_sign(field) %></span>
                    </th><%
                end

                %><th class="col-md-3 align-right">
                  <span class="line"></span>
                  <span><%= t('rademade_admin.management') %></span>
                </th>
            </tr>
        </thead><%

        has_position = @sortable_service.has_position?
        %><tbody data-position='false'><%
            @items.each do |item|
                %><tr<%
                    if has_position
                        %> id='<%= item.position %>'<%
                    end
                %> data-id='<%= item.id %>'><%
                    @list_fields.each do |field|
                        %><td><%= display_item_value(item, field) %></td><%
                    end
                    %><td>
                        <ul class="actions">
                            <li><%= button_to t('rademade_admin.unlink'), admin_unlink_uri(item, params[:parent], params[:parent_id]), {
                                :method => :patch,
                                :form => {:class => 'delete-item-form'}
                            } %></li>
                        </ul>
                    </td>
                </tr><%
            end
        %></tbody>
    </table><%
    concat render 'rademade_admin/_blocks/pagination'
end %>