<% content_for :content do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <% @list_fields.each_with_index do |name, index| %>
          <th class="col-md-3 sort-button" data-column="<%= name %>">
            <% unless index == 0 %>
              <span class="line"></span>
            <% end %>
            <span><%= @model_info.label_for(name) + @sortable_service.sorting_sign(name) %></span>
          </th>
        <% end %>

        <th class="col-md-3 align-right">
          <span class="line"></span>
          <span><%= t('rademade_admin.management') %></span>
        </th>
      </tr>
    </thead>

    <% has_position = @sortable_service.has_position? %>
    <tbody data-position='false'>
      <% @items.each_with_index do |item, index| %>
        <tr<%
          if has_position
            %> id='<%= item.position %>'<%
          end
        %> data-id='<%= item.id %>'>
          <% @list_fields.each do |name|
            %><td><%
              td_data = item.send(name)
              if td_data.is_a? Mongoid::Document #rm_todo remove hard code, extract helper (data adapter)
                concat link_to td_data.to_s, admin_edit_uri(td_data)
              else
                concat td_data
              end
            %></td>
          <% end %>
          <td>
            <ul class="actions">
              <li><%= button_to t('rademade_admin.unlink'), admin_unlink_uri(item, params[:parent], params[:parent_id]), {
                :method => :patch,
                :form => {:class => 'delete-item-form'}
              } %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'rademade_admin/_blocks/pagination' %>

<% end %>