<% content_for :page_header do %>
    <h3><%= @model_info.item_name %></h3>
<% end %>

<% content_for :nav_buttons do %><%
    new_uri = admin_new_uri(@model_info)
    if new_uri
        concat link_to t('rademade_admin.new_record') + '+', new_uri, :class => 'btn-flat success new-product'
    end
%><% end %>

<% content_for :content do %><%
    if @sortable_service.can_reset?
        %><a href="<%= request.path %>"><%= t('rademade_admin.reset_sort') %></a><%
    end
    %><table class="table table-hover">
        <thead>
            <tr><%
                index = 0
                @list_fields.each do |field|
                    index += 1
                    %><th class="col-md-3 sort-button" data-column="<%= field.name %>"><%
                        unless index == 1
                            %><span class="line"></span><%
                        end
                        %><span><%= field.label + @sortable_service.sorting_sign(field) %></span>
                    </th><%
                end

                %><th class="col-md-3 align-right">
                    <span class="line"></span>
                    <span><%= t('rademade_admin.management') %></span>
                </th>
            </tr>
        </thead><%

        has_position = @sortable_service.has_position?
        %><tbody class="table-sortable" data-position='<%= has_position %>'>
            <% @items.each do |item| %>
                <tr<%
                    if has_position
                        %> id='<%= item.position %>'<%
                    end
                %> data-id='<%= item.id %>'><%
                    @list_fields.each do |field|
                        %><td><%= display_item_value(item, field) %></td><%
                    end
                    %><td>
                        <ul class="actions">
                            <li><%= link_to t('rademade_admin.edit'), admin_edit_uri(item) %></li>
                            <li><%= button_to t('rademade_admin.destroy'), admin_delete_uri(item), {
                                :method => :delete,
                                :form => {:class => 'delete-item-form'}
                            } %></li>
                        </ul>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table><%
    concat render 'rademade_admin/_blocks/pagination'
end
concat render :template => 'rademade_admin/_layouts/inner' %>