<% content_for :page_header do %>
    <h3><%= @model_info.item_name %></h3>
<% end %>

<% content_for :nav_buttons do %><%
    new_uri = admin_new_uri(@model_info)
    concat link_to(t('rademade_admin.new_record') + '+', new_uri, :class => 'btn yellow-btn fl-l') if new_uri
    if @model_info.has_csv?
        csv_uri = admin_list_uri(@model_info, :format => :csv)
        concat link_to(t('rademade_admin.export_to_csv'), csv_uri, :class => 'btn green-btn fl-l l-margin') if csv_uri
    end
end %>

<% content_for :content do %><%
    concat render @template_service.search_block
    concat render @template_service.on_page_select_block
    concat render @template_service.sort_reset_block
    %><table class="table-box"><%
        concat render @template_service.table_head_block, {
            :list_fields => @list_fields
        }
        has_position = @sortable_service.has_position?
        %><tbody class="table-content" data-sortable="<%= has_position %>"><%
            @items.each do |item|
                %><tr id="item_<%= item.id %>" class="table-line" data-id="<%= item.id %>"<%
                    if has_position
                        %> data-position="<%= item.position %>"<%
                    end
                %>><%
                    @list_fields.each do |field|
                        concat render 'rademade_admin/_blocks/list/field', {
                            :item => item,
                            :field => field
                        }
                    end
                    %><td class="table-item">
                        <span class="table-actions"><%
                            concat render 'rademade_admin/_blocks/button/edit', { :item => item }
                            concat render 'rademade_admin/_blocks/button/hide', { :item => item }
                            concat render 'rademade_admin/_blocks/button/preview', { :item => item }
                            concat render 'rademade_admin/_blocks/button/destroy', { :item => item }
                        %></span>
                    </td>
                </tr><%
            end
        %></tbody>
    </table><%
    concat render @template_service.pagination_block
end
concat render :template => @template_service.inner_layout %>