<% content_for :last_crumbs do %>
  <%= link_to("#{params[:parent]}", admin_url_for(params[:parent], {
    :action => :edit,
    :id => params[:parent_id]
  })) %>
  <span class="separator">-></span>
  <span><%=admin_list_name(@item_name)%></span>
<% end %>

<% content_for :page_header do %>
  <h3><%=admin_list_name(@item_name)%> of <%=params[:parent]%></h3>
<% end %>

<% content_for :content do %>
  <%= content_tag(:input, nil, type: 'hidden', :class => 'select2-add-link', :'data-model' => @model_class.to_s, :'data-rel-list-url' => admin_autocomplete_uri(@model_class.to_s)+'.json') %>
  <table class="table table-hover">
    <thead>
      <tr>
        <% @list_fields.each_with_index do |name, index| %>
          <th class="col-md-3 sort-button" data-column="<%=name%>">
            <% unless index == 0 %>
              <span class="line"></span>
            <% end %>
            <span><%= field_to_label(name) + @sortable_service.sorting_sign(name) %></span>
          </th>
        <% end %>

        <th class="col-md-3 align-right">
          <span class="line"></span>
          <span>Management</span>
        </th>
      </tr>
    </thead>

    <% has_position = @sortable_service.has_position? %>
    <tbody data-position='false'>
      <% @items.each_with_index do |item, index| %>
        <tr<%
          if has_position
            %> id='<%= item.position %>'<%
          end
        %> data-id='<%= item.id %>'>
          <% @list_fields.each do |name|
            %><td><%
              td_data = item.send(name)
              if td_data.is_a? Mongoid::Document #rm_todo remove hard code, extract helper (data adapter)
                concat link_to td_data.to_s, admin_edit_uri(td_data)
              else
                concat td_data
              end
            %></td>
          <% end %>
          <td>
            <ul class="actions">
              <li><%= button_to 'Unlink',
                admin_unlink_uri(item, params[:parent], params[:parent_id]), {
                :method => :patch,
                :form => {:class => 'delete-item-form'}
              } %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'rademade_admin/_blocks/pagination' %>

<% end %>

<%= render :template => 'rademade_admin/_layouts/inner' %>