<% content_for :last_crumbs do %>
  <%= link_to(@parent_model_info.item_name, admin_list_uri(@parent_model_info), :class => "breadcrumbs-link" )%>
  <span class="breadcrumbs-sep"></span>
  <%= link_to(@parent, admin_model_url_for(params[:parent], {
    :action => :edit,
    :id => params[:parent_id]
  }), :class => "breadcrumbs-link" ) %>
  <span class="breadcrumbs-sep"></span>
  <span class="breadcrumbs-link current"><%= @model_info.item_name %></span>
<% end %>

<% content_for :page_header do %>
  <h3><%= @model_info.item_name %></h3>
<% end %>

<% content_for :content do %>
  <% autocomplete_uri = admin_link_autocomplete_uri(@model_info, {
    :parent => params[:parent],
    :parent_id => params[:parent_id],
    :format => :json
  }) %>
  <%= content_tag(
    :input,
    nil,
    :type => 'hidden',
    :class => 'select2-add-link',
    :'data-model' => @model_class.to_s,
    :'data-rel-list-url' => autocomplete_uri)
  %><table class="table table-hover">
    <thead>
      <tr>
        <% @list_fields.each_with_index do |name, index| %>
          <th class="col-md-3 sort-button" data-column="<%= name %>">
            <% unless index == 0 %>
              <span class="line"></span>
            <% end %>
            <span><%= field_to_label(name) + @sortable_service.sorting_sign(name) %></span>
          </th>
        <% end %>

        <th class="col-md-3 align-right">
          <span class="line"></span>
          <span><%= t('rademade_admin.management') %></span>
        </th>
      </tr>
    </thead>

    <% has_position = @sortable_service.has_position? %>
    <tbody data-position='false'>
      <% @items.each do |item| %>
        <tr<%
          if has_position
            %> id='<%= item.position %>'<%
          end
        %> data-id='<%= item.id %>'>
          <% @list_fields.each do |name|
            %><td><%
              td_data = item.send(name)
              if td_data.respond_to? :id
                concat link_to td_data.to_s, admin_edit_uri(td_data)
              else
                concat td_data
              end
            %></td>
          <% end %>
          <td>
            <ul class="actions">
              <li>
                <%= button_to t('rademade_admin.unlink'), admin_unlink_uri(item, params[:parent], params[:parent_id]), {
                  :method => :patch,
                  :form => {:class => 'delete-item-form'}
                } %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'rademade_admin/_blocks/pagination' %>

<% end %>

<%= render :template => 'rademade_admin/_layouts/inner' %>